# zmBackup backup service
[Unit]
Description=Perform zmBackup over a remote partition
After=zmBackup_email@%n.service

[Service]
Type=simple
ExecStart=/usr/local/bin/zmbackup-scheduler.sh
ExecStopPost=/bin/systemctl start --no-block zmBackup_email@%n.service
Nice=19

[Install]
WantedBy=multi-user.target
